

.main {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  align-items: center;
}

input {
  width: 10rem;
  height: 1.5rem;
}

select {
  width: 5rem;
  height: 1.5rem;
}
